{% if request.user.is_authenticated %}

<p>{{request.user}}</p>
<a href="">Log Out</a>
{% else %}
<a href="">Log In</a>
{% endif %}

<hr>
<h1>My to do List</h1>



<a href="{% url 'task-create' %}">Add TASK</a>

<table>
    <t  r>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in task %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Update</a></td>
        <td><a href="{% url 'task-delete' task.id%}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in List</h3>
    {% endfor %}
</table>